.App {
  text-align: center;
}

/* TopBanner elements */

h1 {
  margin-bottom: 0;
}

.sub-title {
  margin-top: 0;
}

/*
The Card component is made up of the following divs:

.card-slot div
  .card div
    .card-logo div (contains an image of the deck's logo)
    .card-face div (contains an FA icon)

*/

.card-slot {
  background-color: transparent;
  display: inline-block;
  height: 80px;
  perspective: 1000px;
  margin: 15px;
  width: 80px;
}

.card {
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  width: 100%;
}

.flipped-card {
  transform: rotateY(180deg);
}

.card-logo, .card-face {
  backface-visibility: hidden;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
  color: white;
  height: 100%;
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
}

.card-logo {
  background-color: lightskyblue;
}
.card-face {
  background-color: #fab387;
  transform: rotateY(180deg);
}
